<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Kadian Davidson</h1>
    <p>I am a University student majoring in Computer Science. My hobbies include sewing, web designing playing mobile games, such as among us, pubg and scrabble. I also enjoy swimming and scrolling through social media feeds. My favourite fruits are mangoes, oranges and grapes.</p>
</body>
</html>